body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blogs .blog img{
  position: absolute;
  /* top: 10px; */
  left: -120px;
  opacity: 0.6;
}

.blogs .blog{
  overflow: hidden;
  padding-left: 120px;
}
